/*body er background*/
body {
    background-image: linear-gradient(90deg,rgb(236, 138, 179) 50%, rgb(236, 138, 179) 50%) ;
    background-size: 10px 100%; /* Adjust the size of stripes as needed */
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
}


/*center er jonno*/
.center-container {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 54vh; /* Set the container's height to the viewport height for vertical centering */
}


.center-text {
    text-align: center; /* Center-align the text horizontally */
    display: flex;
    color : black;
    flex-direction: column;
    justify-content: center; /* Center-align the text vertically */
    height: 10vh;
}


/* Style the button */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh; /* This ensures that the container takes up the full viewport height */
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh; /* This ensures that the container takes up the full viewport height */
}


/* Style the button */
.styled-button {
    width: 350px;
    padding: 10px 20px; /* Set padding for top/bottom and left/right */
    background-color: #cc3d65;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}


.styled-button:hover {
    background-color: #073d3f;
}

a {
    text-decoration: none;
    color: black;
}


.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.div-container {
    text-align: center;
}

.size-fixing {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 150%;
}
    